/* UTILS */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* BASE */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.after-banner .container {
  text-align: left;
}

.footer .container {
  display: flex;
  text-align: left;
  align-items: baseline;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* COMPONENTS */
.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.banner-button {
  color: #ffffff;
  padding: 10px 32px;
  min-width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-button:hover, .banner-button:focus {
  cursor: pointer;
}

.section-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #2196f3;
}

.logo-header {
  color: #212121;
  margin-right: 92px;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  display: inline-block;
}

/* LAYOUT */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.top-nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.site-nav {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus,
.site-nav .site-nav-link:active {
  color: #2196f3;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.site-nav-link {
  color: #212121;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link-contacts {
  color: #757575;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover, .link-contacts:focus {
  color: #2196f3;
}

.header-mail {
  width: 16px;
  height: 12px;
  display: flex;
  margin-right: 10px;
}

.header-phone {
  width: 10px;
  height: 16px;
  display: flex;
  margin-right: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus, .portfolio-button:active {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project-content {
  padding: 20px 24px;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - (3 * 30px)) / 3);
  box-sizing: border-box;
}

.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.87;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.project-item-link {
  display: block;
  width: 100%;
  height: 100%;
}

.project-item-link:hover, .project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-photo-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-link:hover .overlay,
.project-item-link:focus .overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.section-our-team {
  background-color: #f5f4fa;
  color: #212121;
  padding: 94px 0;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.member-card {
  padding: 30px;
}

.team-member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 10px;
}

.occupation {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  color: #757575;
}

.team-social-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer {
  background-color: #2f303a;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container-address {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  margin-right: 70px;
  width: 231px;
}

.footer-adress {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.social .social-link {
  background: rgba(255, 255, 255, 0.1);
}

.social .social-icon {
  fill: #ffffff;
}

.social .social-link:hover,
.social .social-link:focus {
  background: #2196f3;
}

.social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.social-network-list {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.social-network-items:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.subscribe-form-line {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}

.subscribe-form-line::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(143, 136, 136, 0.15);
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, .subscribe-button:focus {
  cursor: pointer;
}

.button-icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 530px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.user-info-line {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.user-info-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.user-info-line-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-line-input:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-line-input:focus + .form-icon {
  fill: #2196f3;
  cursor: pointer;
}

.user-info-textarea {
  display: block;
}

.user-info-line-comment {
  outline: none;
  resize: none;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  overflow: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-line-comment::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-info-line-comment:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.agreement-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
  text-align: center;
}

.agreement-text::before {
  display: inline-block;
  content: "";
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
}

.agreement-input:checked + .agreement-text::before {
  background-color: #2196f3;
  border-color: transparent;
  background-repeat: no-repeat;
}

.agreement-input:focus + .agreement-text::before {
  border-color: #2196f3;
}

.agreement-input:focus + .agreement-text::before {
  background-image: url("../images/icons/tick.svg");
}

.agreement-link {
  text-decoration: underline;
  color: #2196f3;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px, 55px;
}

.submit-button:hover, .submit-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
  outline: none;
}
/*# sourceMappingURL=portfolio.css.map */