.what-we-do {
  padding-bottom: 94px;
}

.images-list {
  display: flex;
}

.images-list-item {
  & :not(:last-child) {
    margin-right: 30px;
  }
}

.thumb {
  position: relative;
}
.what-we-do-text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  @include font();

  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  background: rgba(47, 48, 58, 0.8);
}
