.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .after-banner & {
    text-align: left;
  }

  .footer & {
    display: flex;
    text-align: left;
    align-items: baseline;
  }

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
